---
layout: default
---

<div class="home">

	<h1>POP development team</h1>
	
	<p>A guide to developing software at POP and a record of the decisions we have made as a team as to how we wish to create and deliver software.</p>

	<ul>
		<li><a href="policies">Policies</a></li>
		<li><a href="practices">Practices</a></li>
		<li><a href="library">Team Library</a></li>
		<li><a href="team">Team Information (including careers)</a></li>
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
